:root {
  --maincolor: #ff2800;
  --secondcolor: #242424;
  --mainfont: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}
.Body-Type {
  padding: 95px 0;
}
.Body-Type p {
  color: var(--maincolor);
  font-family: var(--mainfont);
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
}
.Body-Type h2 {
  font-family: var(--mainfont);
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 43px;
  color: #0a0a0a;
}
.Body-Type a h3 {
  font-size: 1.375rem;
  font-family: var(--mainfont);
  font-weight: 800;
  line-height: 32px;
  color: #0c0c0c;
}
.Body-Type .card {
  max-height: 12.5rem;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}

.Body-Type .card img {
  height: 7.106rem;
  width: 14.062rem;
  margin-right: 1.25rem;
  transition: all 0.3s ease-in-out;
}
.Body-Type .card .card-body {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}
.Body-Type .btn-Shop {
  margin-top: 35px;
}
.Body-Type .btn {
  background-color: var(--maincolor);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  font-family: var(--mainfont);
  padding: 12px 25px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.Body-Type .btn:hover {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
}
.Body-Type .card:hover img {
  transform: translateY(-5px);
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 12px;
  }
}

.Services {
  padding: 75px 0 115px 0;
  background: url(../img/Services/Services.webp) no-repeat center;
}
.Services .Services-text {
  /* margin-bottom: 50px; */
  padding: 35px 50px 0 15px;
}
.Services .Services-text p {
  font-family: var(--mainfont);
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  color: var(--maincolor);
}
.Services .service-icon {
  color: #9b9797;
  font-size: 3.063rem;
  height: 3.063rem;
  font-weight: 900;
  position: absolute;
  top: 21%;
  left: 5%;
  opacity: 0.1;
}
.Services .Services-text h2 {
  font-family: Nunito;
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 2.55rem;
  color: var(--secondcolor);
  margin-bottom: 50px;
}
.Services .btn {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
  font-weight: 800;
  font-size: 1rem;
  font-family: var(--mainfont);
  padding: 12px 30px;
  border-radius: 5px;
  margin-bottom: 21.739px;
  transition: all 0.2s ease-in-out;
}
.Services .btn:hover {
  background-color: var(--maincolor);
  color: #fff;
  border: none;
}
.Services .carousel {
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}
.Services .carousel-content {
  padding: 30px 35px;
}
.Services .carousel-content h3 {
  font-family: var(--mainfont);
  font-size: 1.563rem;
  font-weight: 800;
  line-height: 35.7143px;
  color: var(--secondcolor);
  margin-bottom: 20px;
}
.Services .carousel-content p {
  font-family: var(--mainfont);
  font-size: 0.938rem;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #262626;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.Services .service-content {
  padding-bottom: 20px;
}
.Services .Service-img img {
  width: 56px;
  height: 56px;
  border-radius: 5px;
}
.Services .Service-info h4 {
  font-family: var(--mainfont);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 32px;
  color: var(--secondcolor);
  margin-bottom: 5px;
}
.Services .Service-info p {
  font-size: 0.875rem;
  line-height: 20px;
}

@media screen and (max-width: 550px) {
  :root {
    font-size: 14px;
  }
  .Services .Services-text {
    text-align: center;
  }
}

.Latest_News {
  padding: 95px 15px 80px 15px;
}
.Latest_News .Latest_Content p {
  font-family: var(--mainfont);
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  color: var(--maincolor);
}

.Latest_News .Latest_Content h2 {
  font-family: var(--mainfont);
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 40.8px;
  color: var(--secondcolor);
}
.Latest_News .card {
  width: 27.292rem;
  border-radius: 10px;
  margin-bottom: 8px;
  border: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px 0px;
}
.Latest_News .card .card-body {
  padding: 20px 25px 25px 25px;
}
.Latest_News .card-image {
  overflow: hidden;
  height: 100%;
}
.Latest_News img {
  transition: all 0.5s ease-in-out;
}
.Latest_News .card .card-title {
  margin: 10px 0;
}
.Latest_News .card .card-title a {
  font-family: var(--mainfont);
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 29px;

  color: rgb(72, 72, 72);
}
.Latest_News .card .card-title a:hover {
  color: var(--maincolor);
}

.Latest_News .card p {
  font-family: var(--mainfont);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 23px;
  color: rgb(34, 34, 34);
}
.Latest_News .card .card-text {
  margin-bottom: 20px;
}
.Latest_News .card .Read_more {
  font-family: var(--mainfont);
  font-size: 1rem;
  font-weight: 700;
  line-height: 22.8571px;

  color: var(--maincolor);
}
.Latest_News .card a svg {
  fill: var(--maincolor);
  width: 0.875rem;
  height: 1rem;
  transition: all 0.3s ease-in-out;
}
.Latest_News .card:hover img {
  transform: scale(1.08);
}
.Latest_News .Read_more:hover svg {
  transform: translateX(5px);
}

.Latest_News .author {
  top: 210px;
  left: 25px;
  backdrop-filter: blur(15px);
  background-color: rgb(0 0 0 / 18%);
  padding: 5px 20px;
  border-radius: 10px;
}
.Latest_News .author p {
  margin: 0;
  font-weight: 700;
}
.Latest_News .author p a {
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .Latest_News {
    text-align: center;
  }
  .Latest_News .row {
    justify-content: center;
    align-items: center;
  }
  .Latest_News .news-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 550px) {
  .Latest_News .card .card-image .author {
    display: none;
  }
}

.Register_as_Vendor {
  background-color: #f7f7f7;
  padding: 5px 15px;
}
.Register_as_Vendor .row {
  padding: 32px 0;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Register_as_Vendor h2 {
  font-family: var(--mainfont);
  font-size: 1.125rem;
  width: fit-content;
  font-weight: 800;
  line-height: 1.438rem;
  color: var(--secondcolor);
}

.Register_as_Vendor a {
  width: fit-content;
}
.Register_as_Vendor .btn {
  background-color: var(--maincolor);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  font-family: var(--mainfont);
  padding: 12px 25px;
  border-radius: 5px;
  border: 2px solid var(--maincolor);
  transition: all 0.2s ease-in-out;
}
.Register_as_Vendor .btn:hover {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
}
