:root {
  --maincolor: #ff2800;
  --secondcolor: #242424;
  --mainfont: "Nunito", sans-serif;
}
html,
body {
  overflow-x: hidden;
  font-family: var(--mainfont);
}

a {
  text-decoration: none;
}

.navbar {
  padding: 0 35px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.49);
}
.header-top .nav-item {
  border-right: 1px solid rgba(221, 221, 221, 0.49);
  border-left: 1px solid rgba(221, 221, 221, 0.49);
}
header .header-top a {
  color: #334141;
  font-weight: 500;
  font-size: 0.813rem;
}
header .header-top .form-search {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
header .header-top ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-botoom .navbar-brand {
  margin-top: 14px;
  margin-bottom: 8px;
}
.header-botoom .nav-item {
  padding: 27px 17px;
}
.header-botoom .nav-item a {
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.3s ease-in-out;
  color: #333333;
}
.header-botoom .nav-item a:hover {
  color: var(--maincolor);
  background: none;
}
.header-botoom .nav-item a svg {
  fill: #333333;
  transition: all 0.3s ease-in-out;
}

.header-botoom .nav-item a:hover svg {
  fill: var(--maincolor);
}
.header-botoom .navbar-brand img {
  width: 120px;
  height: 54px;
}
.header-botoom .dropdown-item {
  padding: 10px;
}
.paltform-dropdown {
  width: 1111px;
  left: 260px;
  padding: 0;
}
.paltform-dropdown h2 {
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 39px;
  color: rgb(36, 36, 36);
}
.paltform-dropdown ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.header-botoom .paltform-dropdown ul a {
  color: #000;
  font-weight: 600;
  line-height: 2.5;
  font-size: 0.875rem;
}
.header-botoom .paltform-dropdown ul a svg {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}
.btn-view,
.btn-sell {
  background-color: var(--maincolor);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 5px;
  border: 2px solid var(--maincolor);
  transition: all 0.2s ease-in-out;
}
.btn-view:hover {
  border: 2px solid #fff;
}
.paltform-dropdown .dropdown-image {
  background-image: url(/./assets/img/navbar/Platform-img.webp);
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}
.paltform-dropdown .dropdown-image h2 {
  margin-bottom: 0;
}
.paltform-dropdown .dropdown-image h2 a {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 38px;
  color: rgb(255, 255, 255);
}
.paltform-dropdown .dropdown-image p a {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 25px;
  color: rgb(255, 255, 255);
}
.paltform-dropdown .items {
  padding: 20px 30px;
}
.navbar-expand-lg .navbar-nav .paltform-dropdown {
  left: 260px;
}
.header-botoom .nav-item .dropdown-image a:hover {
  color: #fff;
}
.btn-sell {
  padding: 10px 30px;
  margin-left: 10px;
}
.btn-sell:hover {
  border: 2px solid #000;
}
.header-botoom .taggler {
  display: none;
}
@media screen and (max-width: 1140px) {
  .header-botoom .collapse ul {
    display: none;
  }
  .header-botoom .navbar .row {
    justify-content: space-between;
  }
}
@media screen and (max-width: 991px) {
  .header-top .right-side {
    display: none;
  }
  .header-botoom .taggler {
    display: block;
  }
}

.hero {
  background-image: url(./../img/hero/Hero-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 35px;

  color: #fff;
}
.hero .hero-content {
  padding-top: 35px;
}
.hero h2 {
  font-size: 3.438rem;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 30px;
}

.hero h1 {
  font-size: 5.313rem;
  font-weight: 800;
  line-height: 95px;
  margin-bottom: 40px;
}
.hero p {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 75px;
}
.hero .price {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  text-decoration: underline;
}
.hero .Bid {
  background-color: rgb(201, 43, 20);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid rgb(201, 43, 20);
  transition: all 0.2s ease-in-out;
}
.hero .Bid:hover {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
}
.hero .Check {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
  font-weight: 800;
  font-size: 1rem;
  padding: 11px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
  transition: all 0.2s ease-in-out;
}
.hero .Check:hover {
  background-color: var(--maincolor);
  color: #fff;
  border: 2px solid var(--maincolor);
}

.accordion,
.accordion .accordion-item,
.accordion .accordion-item .accordion-header,
.accordion-flush > .accordion-item > .accordion-header .accordion-button,
.accordion-flush > .accordion-item .accordion-button.collapsed {
  border-radius: 10px;
}
.accordion-item {
  padding: 35px;
}
.accordion-item .form-select {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.accordion-item label {
  font-family: Nunito;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
  color: rgb(36, 36, 36);
}
.btn-serach {
  background-color: #ff2800;
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 5px;
  border: 2px solid var(--maincolor);
  transition: all 0.2s ease-in-out;
}
.btn-serach:hover {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
}
.accordion-button {
  color: #222;
  width: fit-content;
  font-weight: 800;
  font-size: 1.125rem;
  padding: 0px 18px;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
}
.accordion-button:not(.collapsed) {
  color: #ff2800;
  background: none;
  width: fit-content;
  box-shadow: none;
}

.Auctions {
  padding: 90px 30px 125px;
}
.Auctions .Auctions-nav {
  margin-bottom: 40px;
}
.Auctions .Auctions-nav h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 40.8px;
  color: var(--secondcolor);
}
.Auctions .Auctions-nav .nav-link {
  font-size: 1rem;
  font-weight: 700;
  line-height: 25px;
  color: #666;
}
.Auctions .Auctions-nav .nav-link:hover,
.Auctions .Auctions-nav .active {
  color: #222;
}
.Auctions .card {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
.Auctions .card-image {
  overflow: hidden;
}
.Auctions .card img {
  transition: all 0.3s ease-in-out;
}
.Auctions .card:hover img {
  transform: scale(1.08);
}
.Auctions .card-body {
  padding-bottom: 20px;
}
.Auctions .card-image .card-icon {
  position: absolute;
  bottom: 146px;
  right: 15px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.Auctions .card-image .card-icon:hover {
  background-color: var(--maincolor);
}

.Auctions .card-body a {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 27px;
  color: #484848;
  transition: all 0.3s ease-in-out;
}
.Auctions .card-body a:hover {
  color: var(--maincolor);
}
.Auctions .card-body p {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 25px;
  color: rgb(96, 96, 96);
  margin-bottom: 0;
}
.Auctions .card-body .card-text {
  font-weight: 400;
  line-height: 21px;
  color: #262626;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .Auctions .card {
    margin-bottom: 20px;
  }
}

.about {
  background-image: url(./../img/about/about-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden;
  padding: 90px 15px 65px 15px;
}
.about .about-contents {
  padding: 35px 50px 0 15px;
}
.about .about-top {
  margin-bottom: 40px;
}

.about p {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  color: var(--maincolor);
  margin: 0;
}
.about h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 40.8px;
  color: var(--secondcolor);
}

.about .about-content p,
ul li {
  font-weight: 400;
  line-height: 24px;
  color: var(--secondcolor);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.about .about-signature img {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .about {
    background-image: none;
    background-color: #f2f2f2;
  }
}

.Works {
  padding: 95px 40px 165px 40px;
}
.Works .work-content {
  padding: 0 50px;
}
.Works p {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;

  color: var(--maincolor);
}
.Works h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 43px;
  margin-bottom: 50px;
  color: rgb(10, 10, 10);
}

.Works h3 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--secondcolor);
}
.Works .Search {
  font-weight: 400;
  color: var(--secondcolor);
}
.Works .dotted {
  width: 201.102px;
  height: 78px;
  padding: 0;
}
.Works .dotted-curve {
  left: 370px;
  top: 230px;
}
.Works .dotted-up {
  right: 398px;
  bottom: 95px;
}
@media screen and (max-width: 1246px) {
  .Works .dotted {
    width: 180px;
  }
  .Works .dotted-curve {
    left: 310px;
    top: 230px;
  }
  .Works .dotted-up {
    right: 338px;
    bottom: 95px;
  }
}
@media screen and (max-width: 1084px) {
  .Works .dotted {
    width: 150px;
  }
  .Works .dotted-curve {
    left: 300px;
    top: 230px;
  }
  .Works .dotted-up {
    right: 308px;
    bottom: 95px;
  }
}
@media screen and (max-width: 1000px) {
  .Works .dotted {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .Works .work-content {
    margin-bottom: 30px;
  }
}

.New-Offers {
  background-color: #f2f2f2;
  padding-top: 30px;
}
.New-Offers .New-top {
  position: relative;
  padding-bottom: 30px;
}
.New-Offers .New-top .New-content {
  padding-top: 20px;
}
.New-Offers .New-top h2 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 43px;

  background-image: url(../img/New_offers/BG-Pattern.webp);
  background-repeat: no-repeat;
  background-position: center;

  color: var(--secondcolor);
}
.New-Offers .New-top p {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  color: var(--maincolor);
}

.New-Offers .New-top .pattern {
  z-index: 1;
}
.New-Offers .NLine {
  border-bottom: 3px #ddd dashed;
}
.New-Offers .New-bottom {
  padding: 100px 50px;
  padding-top: 100px;
  background-image: url(../img/New_offers/Mercedes-G.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -50px;
}

.New-Offers .New-bottom p {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  color: var(--maincolor);
}
.New-Offers .New-bottom h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 43px;
  color: var(--secondcolor);
}
.New-Offers .New-bottom .ready {
  font-weight: 400;
  color: var(--secondcolor);
}
.New-Offers .New-bottom ul {
  padding-left: 42px;
}
.New-Offers .New-bottom ul li {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 25px;
  color: var(--secondcolor);
}
.New-Offers .New-bottom .submit {
  background-color: var(--maincolor);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--maincolor);
  transition: all 0.2s ease-in-out;
}
.New-Offers .New-bottom .submit:hover {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
}
.New-Offers .New-bottom .View {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 25px;
  transition: all 0.2s ease-in-out;
}
.New-Offers .New-bottom .View:hover {
  background-color: var(--maincolor);
  color: #fff;
  border: none;
}
@media screen and (max-width: 820px) {
  .New-Offers .New-bottom {
    background-image: none;
    text-align: center;
  }
  .New-Offers .New-bottom ul {
    text-align: start;
  }
}
@media screen and (max-width: 767px) {
  .New-Offers .New-top .New-content {
    margin-bottom: 48px;
  }
}
.Body-Type {
  padding: 95px 0;
}
.Body-Type p {
  color: var(--maincolor);
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
}
.Body-Type h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 43px;
  color: #0a0a0a;
}
.Body-Type a h3 {
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 32px;
  color: #0c0c0c;
}
.Body-Type .card {
  max-height: 12.5rem;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}

.Body-Type .card img {
  height: 7.106rem;
  width: 14.062rem;
  margin-right: 1.25rem;
  transition: all 0.3s ease-in-out;
}
.Body-Type .card .card-body {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}
.Body-Type .btn-Shop {
  margin-top: 35px;
}
.Body-Type .btn {
  background-color: var(--maincolor);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 5px;
  border: 2px solid var(--maincolor);
  transition: all 0.2s ease-in-out;
}
.Body-Type .btn:hover {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
}
.Body-Type .card:hover img {
  transform: translateY(-5px);
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 12px;
  }
}

.Services {
  padding: 75px 0 115px 0;
  background: url(../img/Services/Services.webp) no-repeat center;
}
.Services .Services-text {
  /* margin-bottom: 50px; */
  padding: 35px 50px 0 15px;
}
.Services .Services-text p {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  color: var(--maincolor);
}
.Services .service-icon {
  color: #9b9797;
  font-size: 3.063rem;
  height: 3.063rem;
  font-weight: 900;
  position: absolute;
  top: 21%;
  left: 5%;
  opacity: 0.1;
}
.Services .Services-text h2 {
  font-family: Nunito;
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 2.55rem;
  color: var(--secondcolor);
  margin-bottom: 50px;
}
.Services .btn {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 30px;
  border-radius: 5px;
  margin-bottom: 21.739px;
  transition: all 0.2s ease-in-out;
}
.Services .btn:hover {
  background-color: var(--maincolor);
  color: #fff;
  border: none;
}
.Services .carousel {
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}
.Services .carousel-content {
  padding: 30px 35px;
}
.Services .carousel-content h3 {
  font-size: 1.563rem;
  font-weight: 800;
  line-height: 35.7143px;
  color: var(--secondcolor);
  margin-bottom: 20px;
}
.Services .carousel-content p {
  font-size: 0.938rem;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #262626;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.Services .service-content {
  padding-bottom: 20px;
}
.Services .Service-img img {
  width: 56px;
  height: 56px;
  border-radius: 5px;
}
.Services .Service-info h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 32px;
  color: var(--secondcolor);
  margin-bottom: 5px;
}
.Services .Service-info p {
  font-size: 0.875rem;
  line-height: 20px;
}

@media screen and (max-width: 550px) {
  :root {
    font-size: 14px;
  }
  .Services .Services-text {
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .Services {
    padding-bottom: 60px;
  }
}

.subscribing {
  background-color: var(--maincolor);
  color: white;
  padding: 90px 35px;
}
.subscribing .subscribing-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.subscribing p {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
}
.subscribing h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 43px;
  margin-bottom: 30px;
}
.subscribing form {
  background-color: #fff;
  padding: 5px;
  max-width: 550px;
  border-radius: 10px;
}
.subscribing form input {
  border: none;
  outline: none;
  padding: 10px 20px;
}
.subscribing form button {
  width: fit-content;
  height: fit-content;
  padding: 0.625rem 2.688rem;
  transition: all 0.3s ease-in-out;
}
.subscribing form button:hover {
  background-color: var(--maincolor);
}
.subscribing img {
  left: 15%;
  top: -155px;
  height: 450px;
}

@media screen and (max-width: 768px) {
  .subscribing img {
    visibility: hidden;
  }
}
.Latest_News {
  padding: 95px 15px 80px 15px;
}
.Latest_News .Latest_Content p {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  color: var(--maincolor);
}

.Latest_News .Latest_Content h2 {
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 40.8px;
  color: var(--secondcolor);
}
.Latest_News .card {
  width: 27.292rem;
  border-radius: 10px;
  margin-bottom: 8px;
  border: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px 0px;
}
.Latest_News .card .card-body {
  padding: 20px 25px 25px 25px;
}
.Latest_News .card-image {
  overflow: hidden;
  height: 100%;
}
.Latest_News img {
  transition: all 0.5s ease-in-out;
}
.Latest_News .card .card-title {
  margin: 10px 0;
}
.Latest_News .card .card-title a {
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 29px;

  color: rgb(72, 72, 72);
}
.Latest_News .card .card-title a:hover {
  color: var(--maincolor);
}

.Latest_News .card p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 23px;
  color: rgb(34, 34, 34);
}
.Latest_News .card .card-text {
  margin-bottom: 20px;
}
.Latest_News .card .Read_more {
  font-size: 1rem;
  font-weight: 700;
  line-height: 22.8571px;

  color: var(--maincolor);
}
.Latest_News .card a svg {
  fill: var(--maincolor);
  width: 0.875rem;
  height: 1rem;
  transition: all 0.3s ease-in-out;
}
.Latest_News .card:hover img {
  transform: scale(1.08);
}
.Latest_News .Read_more:hover svg {
  transform: translateX(5px);
}

.Latest_News .author {
  top: 210px;
  left: 25px;
  backdrop-filter: blur(15px);
  background-color: rgb(0 0 0 / 18%);
  padding: 5px 20px;
  border-radius: 10px;
}
.Latest_News .author p {
  margin: 0;
  font-weight: 700;
}
.Latest_News .author p a {
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .Latest_News {
    text-align: center;
  }
  .Latest_News .row {
    justify-content: center;
    align-items: center;
  }
  .Latest_News .news-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 550px) {
  .Latest_News .card .card-image .author {
    display: none;
  }
}

.Register_as_Vendor {
  background-color: #f7f7f7;
  padding: 5px 15px;
}
.Register_as_Vendor .row {
  padding: 32px 0;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Register_as_Vendor h2 {
  font-size: 1.125rem;
  width: fit-content;
  font-weight: 800;
  line-height: 1.438rem;
  color: var(--secondcolor);
}

.Register_as_Vendor a {
  width: fit-content;
}
.Register_as_Vendor .btn {
  background-color: var(--maincolor);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 5px;
  border: 2px solid var(--maincolor);
  transition: all 0.2s ease-in-out;
}
.Register_as_Vendor .btn:hover {
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
}
footer {
  background-color: #0a0a0a;
  color: #fff;
  padding: 70px 30px 20px 30px;
}
footer .row {
  justify-content: center;
  align-items: flex-start;
}
footer .img-footer {
  width: fit-content;
  height: fit-content;
}
footer .img-footer img {
  width: 150px;
  height: 65px;
  margin: 10px 0;
}
footer h2 {
  font-family: Nunito;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 38px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  margin-bottom: 10px;
  margin-right: 5px;
}
footer a {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
footer .footer-top {
  padding-bottom: 60px;
}
footer .footer-top .footer-content {
  margin-bottom: 30px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #222;
  margin-bottom: 34px;
}
footer .footer-bottom {
  padding-bottom: 30px;
}
footer .footer-bottom p {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 24px;
}
footer .footer-bottom .row {
  gap: 20px;
}
footer .footer-bottom img {
  width: 117.64px;
  height: 35px;
  padding: 0;
}
footer .footer-top .social-link {
  margin-top: 30px;
}
footer .footer-top .social-link li {
  background-color: rgb(38, 38, 38);
  width: 30px;
  height: 30px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}
footer .footer-top .social-link li svg {
  fill: #fff;
  transition: all 0.2s ease-in-out;
}
footer .footer-top .social-link li:hover {
  box-shadow: 0 0 0 3px #0a0a0a, 0 0 0 5px rgba(38, 38, 38);
}
footer .footer-top .social-link li:hover svg {
  fill: var(--maincolor);
}
@media screen and (max-width: 575px) {
  footer .row {
    text-align: center;
  }
}
