:root {
  --maincolor: #ff2800;
  --secondcolor: #242424;
  --mainfont: "Nunito", sans-serif;
}
html,
body {
  font-family: var(--mainfont);
}
.Blog {
  padding: 50px 35px;
  background: #f2f2f2;
}
h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 39.6px;
  color: rgb(36, 36, 36);
}
.News {
  padding: 70px 0;
}
.News .card {
  margin: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 50px;
}
.News .card .card-img-top {
  transition: all 0.3s ease-in-out;
}
.News .card .card-img-top:hover {
  opacity: 0.9;
}
.News .card .card-body {
  padding: 40px;
}
.News .card .card-body .card-title {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 38px;
  color: #222;
  transition: all 0.3s ease-in-out;
}
.News .card .card-body .card-title:hover {
  color: var(--maincolor);
}
.News .card .card-body .card-text {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 35px;
  color: rgb(38, 38, 38);
}
.btn-Read {
  background-color: var(--maincolor);
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  padding: 12px 25px;
  border-radius: 5px;
  border: 2px solid var(--maincolor);
  transition: all 0.2s ease-in-out;
}
.btn-Read:hover {
  border: 2px solid #000;
}

.News .article-detail-meta p,
.News .article-detail-meta a {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 18.5714px;
  color: rgb(102, 102, 102);
  transition: all 0.3s ease-in-out;
}
.News .article-detail-meta a svg {
  fill: #666666;
  transition: all 0.3s ease-in-out;
}
.News .article-detail-meta:hover a {
  color: var(--maincolor);
}
.News .article-detail-meta:hover svg {
  fill: var(--maincolor);
}
.News .pagination {
  padding-left: 15px;
}
.News .pagination a {
  background-color: var(--maincolor);
  padding: 15px 20px;
  margin: 10px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.News .pagination .pagination-nm {
  background-color: white;
  color: #222;
  transition: all 0.3s ease-in-out;
}
.News .pagination .pagination-nm:hover {
  background-color: var(--maincolor);
  color: white;
}
.News .right-side {
  padding: 0 40px;
}
.News .right-side h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 38px;
  color: rgb(36, 36, 36);
}
.line {
  height: 2px;
  margin-bottom: 0;
}
.search-blog {
  margin-bottom: 60px;
}
.long {
  background-color: #e6e6e6;
  width: 100%;
}
.short {
  height: 3px;
  background-color: var(--maincolor);
  width: 15%;
}
.search-blog input {
  padding: 10px 20px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  width: 93%;
  margin-top: 12px;
}
.search-blog input:focus {
  border-color: #666666;
  box-shadow: none;
  outline: none;
}
.News .Categories ul,
.News .Archives ul {
  list-style: none;
  margin-top: 12px;
  padding: 0;
}
.News .Categories ul li,
.News .Archives ul li {
  padding-bottom: 10px;
}
.News .Categories ul li a,
.News .Archives ul li a {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 21px;
  color: rgb(96, 96, 96);
  transition: all 0.3s ease-in-out;
}
.News .Categories ul li a:hover,
.News .Archives ul li a:hover {
  color: var(--maincolor);
}
.News .Categories {
  margin-bottom: 50px;
}
.News .blog-img {
  margin-bottom: 50px;
}
.News .Recent-posts {
  margin-bottom: 50px;
}
.News .Recent-posts img {
  width: 65px;
  height: 65px;
  transition: all 0.3s ease-in-out;
}
.News .Recent-posts img:hover {
  opacity: 0.9;
}
.News .Recent-posts h3 {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 23px;
  padding: 0 15px;
  color: #222;
}
.News .Recent-posts h3 a {
  transition: all 0.3s ease-in-out;
}
.News .Recent-posts h3 a:hover {
  color: var(--maincolor);
}
.News .Recent-posts p {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 25px;
  padding: 0 15px;
  color: rgb(109, 122, 131);
}
.News .Post-Tags {
  margin-bottom: 40px;
}
.News .Post-Tags a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  color: rgb(96, 96, 96);
  transition: all 0.3s ease-in-out;
}
.News .Post-Tags a:hover {
  color: var(--maincolor);
}
.Touch-img {
  position: relative;
  margin-bottom: 40px;
  background-image: url(../img/Touch/new-york-map-dark.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
  opacity: 0.6;
}

.Send-Message .message-content {
  background-color: #fff;
  top: -20rem;
  margin-bottom: -10rem;
}
.Send-Message .left-side {
  padding: 45px 70px 70px;
}
.Send-Message .left-side h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 39.6px;
  margin-bottom: 45px;
  color: var(--secondcolor);
}
.Send-Message .left-side label {
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 24px;
  color: rgb(38, 38, 38);
}
.Send-Message .left-side input,
.Send-Message .left-side textarea {
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
  outline: none;
  border: 1px solid rgba(36, 36, 36, 0.3);
}
.Send-Message .left-side input:focus,
.Send-Message .left-side textarea:focus {
  border-color: var(--maincolor);
}
.Send-Message .left-side .btn-send {
  padding: 10px 30px;
  color: #fff;
  background-color: var(--maincolor);
  border: 2px solid var(--maincolor);
}
.Send-Message .left-side .btn-send:hover {
  color: #222;
  border-color: #222;
  background: none;
}
.Send-Message .right-side {
  background-color: #222;
  color: #fff;
  padding: 100px 53px;
}
.Send-Message .right-side h2 {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 38px;
  margin-top: 20px;
}
.Send-Message .right-side p {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.Send-Message .right-side .item {
  padding-bottom: 40px;
  border-bottom: 1px dashed #fff;
}
.Account {
  padding: 50px 15px 40px;
  background-color: rgb(242, 242, 242);
}

.Account .account-title {
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 41px;
  color: var(--secondcolor);
}
.Account .breadcrumb .breadcrumb-item a,
.Account .breadcrumb .breadcrumb-item {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;
  color: #999999;
}

.Login-Register {
  padding: 80px 50px;
}
.Login-Register .login,
.Login-Register .Register {
  padding: 0 25px;
}
.Login-Register h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 20px;
  color: rgb(36, 36, 36);
}
.Login-Register form {
  border: 1px solid #cfc8d8;
  padding: 35px 42px;
  padding-bottom: 30px;
  border-radius: 5px;
}
.Login-Register form label {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: #262626;
  margin-bottom: 10px;
}
.Login-Register form .star {
  color: var(--maincolor);
}
.Login-Register form input {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  outline: none;
}
.Login-Register form input:focus {
  border-color: #262626;
}
.Login-Register .form-content {
  margin-bottom: 30px;
}
.Login-Register .btn-login,
.Login-Register .btn-register {
  padding: 15px 30px;
  background-color: var(--maincolor);
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1;
  font-weight: 800;
  border: 2px solid var(--maincolor);
  width: fit-content;
  margin-bottom: 6px;
  transition: all 0.3s ease-in-out;
}
.Login-Register .btn-login:hover,
.Login-Register .btn-register:hover {
  background: none;
  border-color: #222;
  color: #222;
}
.Login-Register .form-content a {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(0, 0, 0);
}
.Login-Register .Register .form-content a {
  color: var(--maincolor);
}
